body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-top:30px
}

.main {
    width:800px;
    margin:0 auto;
    display:grid;
    grid-template: 
    '. . .'
    'menu menu menu'
    '. . .';
    grid-template-columns: 150px auto 150px;
    grid-template-rows: auto 40px auto;
}

.main > * {
    background-color: rgb(240, 240, 240);
    border:solid 1px black;
    padding:20px;
}

.main > .menu {
    padding:10px 20px;
}

.menu {
    grid-area: menu;
}

h1 {
    margin-top:0
}

.logo {
    background-image: url(../general/bokus.png);
    background-size: 80px;
    background-position: center;
    background-repeat: no-repeat;
}

.search input{
    width:90%;
    line-height: 2em;
    padding-left:1em;
}

.cart {
    display: flex;
}

.cart img{
    width:30%;
    cursor: pointer;
    padding-right: 10px;
}

.cart button {
    
    font-size:10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
}

.menu li {
   padding-right: 12px;
   cursor: pointer;
}